/* skills cards */

.cards {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #DDDFE7;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


.cards__row {
    display: flex;
    justify-content: space-between;
}

.cards__txt {
    font-family: var(--font);
    color: var(--primaryColor);
    font-weight: var(--bold);
    font-size: 1rem;
}

.cards__txt-light {
    font-family: var(--font);
    color: var(--mediumGrey);
    font-weight: var(--medium);
    font-size: 1rem;
}

.cards__img {
    width: 4.125rem;
    height: 4.125rem;
    align-self: center;
}

/* blog cards */

.cards-long {
    width: 22.5rem;
    height: 100%; /* 33.3125rem;  */
    background-color: #fff;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 30px var(--lightGrey));
    box-sizing: border-box;
    padding: 1rem;
}

.cards-long > *,
.cards-long > picture > source,
.cards-long > picture > img {
    margin-bottom: 1.5rem;
}

.cards-long header {
    display: flex;
    flex-direction: column;
}

.cards-long header > * {
    margin-bottom: .5rem;
}

.cards-long footer {
    display: flex;
    justify-content: space-between;
}

.cards-long__stats {
    display: flex;
    align-items: center;
}

.cards-long__stats > :first-child {
    margin-right: 2rem;
}

.cards-long__stats > div {
    display: flex;
    align-items: center;
}

.cards-long__stats > div > :first-child {
    margin-right: .5rem;
}

/* portfolio cards */

.card__image {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
}

.cards-portfolio {
    height: 45rem; /* 16.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0 1rem;
}

.cards-portfolio p {
    text-align: center;
}

/* .cards-portfolio source,
.cards-portfolio img {
    filter: drop-shadow(1px 1px 30px var(--lightGrey));
} */

.cards-portfolio > :nth-child(1),
.cards-portfolio > :nth-child(2),
.cards-portfolio > :nth-child(3) {
    margin-bottom: 1.5rem;
}

.cards-portfolio__tech {
    display: flex;
    flex-direction: column;
}

.cards-portfolio__tech > div {
    display: flex;
    align-items: center;

}

.cards-portfolio__tech > div > :first-child {
    margin-right: 1rem;
}

.cards-portfolio__tech * {
    font-family: var(--font);
    font-weight: var(--regular);
    font-size: 1rem;
    color: var(--darkGrey);
    text-decoration: none;
}

.cards-portfolio__tech img,
.cards-portfolio__tech source {
    width: 1.875rem;
    height: 1.875rem;
}

/* progress bars */

.progress-full {
    background-color: var(--lightGrey);
    border-radius: 5px;
    width: 100%;
    height: .3rem;
}

.progress-partial {
    background-color: var(--secondaryColor);
    border-radius: 5px;
    width: 87%;
    height: .3rem;
    filter: drop-shadow(0px 3px 3px var(--darkGrey));
}