

@font-face {
    src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
    font-family: roboto;
    font-weight: 400;
}

@font-face {
    src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
    font-family: roboto;
    font-weight: 600;
}

@font-face {
    src: url(../assets/fonts/Roboto-Medium.ttf) format("truetype");
    font-family: roboto;
    font-weight: 500;
}

@font-face {
    src: url(../assets/fonts/Roboto-Light.ttf) format("truetype");
    font-family: roboto;
    font-weight: 300;
}




:root {

    /* colors */

    --primaryColor: #0F358E;
    --secondaryColor: #1A47B0;
    --tertiaryColor: #709BE7;
    --darkGrey: #595F6F;
    --mediumGrey: #757575;
    --lightGrey: #DDDFE7;
    --lightWhite: #F7F8FB;
    --white: #fff;

    /* gradients */

    --redGradient: linear-gradient(#FA2B56, #F91C3D);
    --blueGradient: linear-gradient(#123075, #092056);
    --darkGradient: linear-gradient(#061843, #05112E);

    /* root font */

    --font: roboto, helvetica, sans-serif;

    /* --bold: 800;
    --regular: 500;
    --medium: 400;
    --light: 300;  */


}

/* utility */

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.align {
    display: flex;
    align-items: center;
}

.justify {
    justify-content: center;
}

.column {
    flex-direction: column;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        margin: auto;
        width: 100%;
        background: var(--lightWhite);
        padding: 2rem 1rem;
        box-sizing: border-box;
    }

    .wrapper-dark {
        width: 100%;
        background: var(--blueGradient);
        margin: auto;
        padding: 2rem 1rem;
        box-sizing: border-box;
    }

    .wrapper-light {
        width: 100%;
        background: var(--white);
        margin: auto;
        padding: 2rem 1rem;
        box-sizing: border-box;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .wrapper {
        margin: auto;
        width: 100%;
        background: var(--lightWhite);
        padding: 2rem 5rem;
        box-sizing: border-box;
    }

    .wrapper-dark {
        width: 100%;
        background: var(--blueGradient);
        margin: auto;
        padding: 2rem 5rem;
        box-sizing: border-box;
    }

    .wrapper-light {
        width: 100%;
        background: var(--white);
        margin: auto;
        padding: 2rem 5rem;
        box-sizing: border-box;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        margin: auto;
        width: 100%;
        background: var(--lightWhite);
        padding: 2rem 10rem;
        box-sizing: border-box;
    }

    .wrapper-dark {
        width: 100%;
        background: var(--blueGradient);
        margin: auto;
        padding: 2rem 10rem;
        box-sizing: border-box;
    }

    .wrapper-light {
        width: 100%;
        background: var(--white);
        margin: auto;
        padding: 2rem 10rem;
        box-sizing: border-box;
    }

}